*.pyc
*.sw?
BUILD
INSTALL
RPMS
vim/bundle/FuzzyFinder/
vim/bundle/IndexedSearch/
vim/bundle/L9/
vim/bundle/OmniCppComplete/
vim/bundle/a.vim/
vim/bundle/ctrlp.vim/
vim/bundle/delimitMate/
vim/bundle/mru.vim/
vim/bundle/nerdcommenter/
vim/bundle/supertab/
vim/bundle/taglist.vim/
vim/bundle/vcscommand.vim/
vim/bundle/vim-fugitive/
vim/bundle/vim-repeat/
vim/bundle/vim-ruby-debugger/
vim/bundle/vim-ruby/
vim/bundle/vim-surround/
